fieldset{
	/*float: left;*/
	width: 22%;
	display: -webkit-inline-box;
	display: inline;
}
.parkingLot{
	padding-top: 20px;
}
.start{
	text-align: center;
	margin-top: 40px;
}
.btnStart{
	padding: 5px 20px;
}
.spot{
	width: 70px;
    height: 70px;
    border-radius: 50px;
    float: left;
    margin-left: 10px;
    background: #80e080;
}
.spot-free{
	background: #80e080;
}
.spot-occupied{
	background: #e88787;
}
.spot span{
	text-align: center;
    display: block;
    margin-top: 10px;
}
.level{
	display: inline-block;
	margin-bottom: 10px;
}
.parkingLot{
	width: 820px;
	margin: auto;
}
input{
	width: 60px;
}